<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui card">
        <div class="content">
            <a class="header"><%= user.username %></a>
            <div class="meta">
                <span class="date"><%= user.registerDate.toDateString() %></span>
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="edit outline icon"></i>
                <%= user.todos.length %> active todos
            </a>
        </div>
    </div>
</div>

<% include ./partials/footer %>