<html>
    <head>
        <title>Todo App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body
    <div class="ui center aligned middle aligned grid">
        <div class="five wide column">
            <h2 class="ui header">
                <div class="content">
                    <i class="sticky note outline icon"></i>Todo Site
                </div>
            </h2>
            <div class="ui info message">
                Login to show your todos!
            </div>
            <form action="/login" method="POST" class="ui form">
                <div class="ui segment">
                    <div class="field">
                        <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <input class="ui fluid large submit button" type="submit" value="Login">
                </div>
            </form>
            <div class="ui message">
                New to us? <a href="/register">Register</a>
            </div>
        </div>
    </div>
        